NODE_ENV=development
PORT=8080
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=debug
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
DATABASE_URL=postgresql://neondb_owner:npg_2JNqDRV3mBcA@ep-tiny-glitter-ay6hq98s.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
BETTER_AUTH_SECRET=UGiHIhBZiD2e8aBaIi3cZ56k5pYCrIbL
BETTER_AUTH_URL=http://localhost:8080
GOOGLE_CLIENT_ID=sample_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=sample_google_client_secret
